/*
This container it's not really necesary it's just used to implement the
BEM methodology, that helps you to achieve reusable components and code sharing in the front-end.
*/

.accordion{
        width: 100%;
}

.accordion__button{
        /*Responsive button, so 100% of it's container, could use inherit*/
        width: 100%;
        /*Padding to beautify and don't make look the button compressed*/
        padding: 15px;
        /*This padding it's for the arrow that is displayed before so it has space*/
        padding-left: 30px;
        /*Removes default button border*/
        border: none;
        margin-bottom: 1px;
        /*Font Size could be changed*/
        /*Font Color could be changed*/
         /*Background color of the button that displays the accordion*/
         /*All this stylish could be changed to modify the aspect of the button*/
        font-size: 18px;
        text-align: left;
        color: #0d2644;
        font-family: 'Jost',sans-serif;
        background: #f3c94b;
}

/*Content before the text of the accordion button*/
.accordion__button::before{
        content: '\25be';
        font-size: 28px;
}

/*Since the JS simply toggles the classes of the button so we need to set-up new
styles to when a button is active, this is not at all necesary it's just personalization*/
.accordion__button--active{ 
        transition: 2s; 
        width: 100%;
        padding: 15px;
        padding-left: 30px;
        border: none;
        margin-bottom: 1px;
        font-size: 18px;
        text-align: left;
        color: #0d2644;
        font-family: 'Jost',sans-serif;
        background: linear-gradient(to top, #f3c900,#f3c94c ); 
}
/*Also the before must be set when class toggles*/
.accordion__button--active::before{ 
        content: '\25be'; font-size: 28px;
}

/*This limits the content from showing under the accordion button*/
.accordion__content{
        overflow: hidden;
        max-height: 0;
        transition: max-height 1s;
        /*
        This is extra styling, it's meant that inside this container you put your custom content
        */
        background-color: #0d2644;
        color: #f3c94c;
        font-family: sans-serif;
}

